@keyframes fadeAndScaleIn {
    0% {transform: scale3d(.9, .9, 1); opacity: 0;}
    80% {opacity: 0.6;}
    100% {transform: scale3d(1, 1, 1); opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    80% {opacity: 0.6;}
    100% {opacity: 1;}
}
@keyframes onOpen{
    0% {
        transform:scale3d(0,0,0) translate(0,-30px);
    }
    70%{
        transform:scale3d(1, 1, 1);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes scaleUp{
    0%{scale: 1.0; transform-origin: center; background-color:rgb(26, 82, 236);}
    50% {scale: 1.7; transform-origin: center; background-color:rgba(26, 82, 236, .9);}
    99% {scale: 1; transform-origin: center; background-color:rgba(26, 82, 236, 0.2);}
    100% {background-color:rgba(209, 209, 209, 0);}
}
@keyframes expand {
    from {width: 50px}
    to {
        width: 40vw;
    }
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    0% {visibility: visible;}
    100% {visibility: hidden;}
}
@keyframes closed {
    0% {
        width: 200px; scale:1;
    }
    90% {width: 50px; scale:1}

    100% {scale:0;}
}