#section2_wrapper {
    height: min-content;
    width: 100vw;
    max-width: 100%;
    flex:auto;
    justify-content: center;
    /* z-index:-5; */
    overflow-x: clip;

    padding-top: 10vh;
    padding-bottom: 10px;
    position: relative;

    background-color: 
    rgb(22,22,23);
}

.header1 {
    font-family: Inter, san-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color:rgb(134,134,139);
    width: auto;

    white-space: nowrap;

}
.hidden1 {
    transform:translate(0, 1.5vh);
    opacity: 0;
    transition: all 2s;
}
.in-view1 {
    transform:translate(0, 0);
     opacity: 1;
}
.header2 {
    font-family: Inter, sans-serif;
    font-size: 1.2em;
    color: rgb(32, 145, 216);
    font-weight: 500;

    padding-left: 3rem;
}
.hidden2 {
    transform:translate(0, 1.5vh);
    opacity: 0;
    transition: all 2s;
}
.in-view2 {
    transform:translate(0, 0);
     opacity: 1;
}
.header2:nth-child(2){
    transition-delay: 1s;
}

.nav-list li:hover {
    color:green;
}
a:hover {
    text-decoration: underline;
}


.slider {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width:100vw;
    height:fit-content;

    position: relative;
    list-style-type: none;
    align-self: center;
}

.slider__inner {
    position: absolute;
    top:0;
    left: 0;
    width: clamp( 0px, 500vw, 8195.5px);
    height: 50vh;

    display:flex;
    flex-flow: row nowrap;
    align-items: center;

    /* scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory; */

    /* border: 2px solid red; */
    /* padding-inline: 1vw; */
    margin-left: 22.4%;

    transition: left 0.6s;
}
.two-button-slider__inner{
    width:100%;
    padding-inline: 22vw;
    left:0;
    justify-self: center;
    justify-content: center;
    margin-left: 0;
}
.slider__card {
    height: 100%;
    margin: 0.5vw;

    width: 60vw;

    background-color: black;
    border-radius: 6%;

    color: white;
    align-content: center;
    text-align: center;
    font-size: 10rem;
    overflow: clip;


    display:inline-block;
    scroll-snap-align: center;
    
    div {
        div {
            width: 35vw;
            height: fit-content;
            position: absolute;
            top: 1vh;
            margin-left: 2vw;
            h3 {
                text-wrap: pretty;
                font-size: 0.15em;
                text-align: left;
            }
        }
        width: 60vw;
    }

}

.slider .dot:checked:nth-of-type(2) ~ .slider__inner{
    left: 100px;
}

.slider__wrapper{
    height:70vh;
    position:relative;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: clip;
    
    display: flex;

    white-space: nowrap;
    scroll-snap-stop: always;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}