#titleheader{
    color: rgb(245,245,247);
    font-family: Inter, sans-serif;
    font-size: 4rem;
    letter-spacing: -2px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0;

    animation-name: fadeAndScaleIn;
    animation-duration: 2.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: calc(2s + var(--animation-add));

    transform-origin: center bottom;
    z-index:5;
}
#gradient {
    margin: 0;
    font-size: 4rem;
    letter-spacing: -2px;
    font-weight: 100;
    font-family: Inter, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), linear-gradient(to right, #ee5b0c,#eeec72, #0665d1, #4493ee);
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -webkit-background-clip: text; 

    animation-name: fadeAndScaleIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: calc(2.7s + var(--animation-add));

    transform-origin: center top;
    z-index:5;
}

.title {
    display: flex;
    position: grid;
    align-items: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;
    z-index: 1;
    /* top: 27vh; */
}
#navbar {
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    position:relative;

}
.nav-list {

    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    
    font-size: clamp(0rem, 1vw, 2rem);
    font-family: Inter, sans-serif;
    color: rgb(245,245,247);
    text-decoration: none;
    
    display: flex;
    gap: clamp(0.5rem, 7vw, 2.3rem);
}
.nav-list, a {
    text-decoration: none;
    color: rgb(245,245,247);
    font-weight: 200;
    font-size: 0.7rem;
    text-wrap: nowrap;

}
#nav__wrapper {
    padding-inline: 20% 20%;
    padding-top: 1.5vh;
    justify-content: center;
    width:auto;
}
#section1 {
    background: rgb(0,0,0);
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    max-width: 100%;

    display:flex;
    flex-direction: column;

    justify-items: center;
    justify-content: center;
    align-items: center;
    /* z-index:-1000; */
}
#iPad {
    position: relative;
    object-fit: fill;
    width:auto;
    height:min-content;
    max-width: 1450px;
    max-height:820px;

    /* z-index: 1; */

    /* padding:0; */
    /* top: 10vh; */
    overflow: hidden;
    overflow-x: visible;

    display:flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;

    /* scale:93%;
    transform: translateY(9.3%); */

    transform:translateY(8.6%);

    /* display:block;
    margin:auto; */

}
#iPad-wrapper {
    position: absolute;

    max-width: 1450px;
    max-height:820px;
    /* border: 2px cyan solid; */
    overflow:hidden;
}
#intro_content {
    position:relative;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: fit-content;
    width: min-content;

    justify-self:center;
    align-self:center;
    display:flex;
}

#ribbon {
    position:relative;
    align-items: center;
    justify-content: center;
    padding-block: 1.4vh;
    background-color: #1e1e20;


    font-weight: 500;
    text-align: center;
    width:100%;
    height: fit-content;
    

}
.buy {
    display: flex;
    position: relative;
    z-index: 2;
    /* top: -5vh; */
    margin-bottom:1rem;

    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: Inter, sans-serif;
    font-weight: 600;

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: calc(2.8s + var(--animation-add));
}
#buy_button {
    position: relative;
    /* top: -3.4vh; */
    background-color: rgba(0,113,227,255);
    border: none;
    border-radius: 30px;

    animation-name: fadeAndScaleIn;
    animation-duration: 2.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: calc(3.2s + var(--animation-add));
}
#buy_button:hover{
    background-color: rgb(0, 128, 255);
    cursor: pointer;
}
#in_buy_button {
    padding-block: 10px;
    padding-inline: 15px;
    font-size: 17px;
    text-align: center;
    color: white;
}
#video {
    position:absolute;

    /* z-index: 1; */

    width: auto;

    /* border: 2px solid blue; */
}
#video-container {
   /* border: 2px solid yellow; */
   display: flex;

   justify-content: center;
   align-items: center;
    width: 50vw;
    height: 30vh;
}

#blurred {
    height: 100vh;
    width:100%;
    z-index: 3;
    color: lightslategray;
    backdrop-filter: blur(10px);
    position: fixed;
    overflow: clip;
    display:none;
    pointer-events: none;
}