.header1 {
    font-family: Inter, san-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color:rgb(134,134,139);
    width: 50%;

    padding-left: 6vw;
    float: left;

}
.hidden1 {
    transform:translate(0, 1.5vh);
    opacity: 0;
    transition: all 2s;
}
.in-view1 {
    transform:translate(0, 0);
     opacity: 1;
}
.header2 {
    font-family: Inter, sans-serif;
    font-size: 1.5vh;
    color: rgb(32, 145, 216);
    font-weight: 500;

    float:right;
    padding-left: 2vw;
}
.hidden2 {
    transform:translate(0, 1.5vh);
    opacity: 0;
    transition: all 2s;
}
.in-view2 {
    transform:translate(0, 0);
     opacity: 1;
}
.header2:nth-child(2){
    transition-delay: 1s;
}

#blurred {
    height: 100vh;
    width:100%;
    z-index:3;
    color: lightslategray;
    backdrop-filter: blur(10px);
    position: absolute;
    overflow: clip;
    display:none;
    pointer-events: none;
}
.nav-list li a:hover {
    color:green;
}
a:hover {
    text-decoration: underline;
}


.slider {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width:100vw;
    height:fit-content;

    position: relative;
    list-style-type: none;
    align-self: center;
}

.slider__inner {
    position: absolute;
    top:0;
    left: 7vw;
    width: 500vw;
    height: 70vh;
    overflow: hidden;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;

    /* border: 2px solid red; */
    padding-inline: 2vw;

    transition: left 0.5s;
}

.slider__card {
    height:100%;
    margin: 2vw;

    flex:1;
    background-color: black;
    border-radius: 50px;

    color: white;
    align-content: center;
    text-align: center;
}

.slider .dot:checked:nth-of-type(2) ~ .slider__inner{
    left: 100px;
}

.slider__wrapper{
    height:70vh;
    position:relative;
    width: 100vw;
}